%ul.nav.nav-tabs
  - top_tab_items.each do |tab_item|
    - tab_item.class_name += ' active' if current_page?(tab_item.path)
    %li{ class: tab_item.class_name }= link_to tab_item.title, tab_item.path
