@import 'commons';

.navbar-nav {
  .userIcon {
    width: 18px;
    border-radius: 2px;
  }
}

.navbar-brand {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
}

.navbar-btn {
  margin-left: 15px;
}
