@import 'commons';

.feedCell {
  padding: 10px 0;
  border-bottom: 1px solid $divider-color;
  margin-top: 0px;
}

.feedMessage {
  font-size: 0.8em;
  margin-bottom: 3px;
}

.feedFollowingUserIcon {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 2px;
}

.feedFollowingUserName {
  display: inline-block;
  font-weight: bold;
}

.feedIcon {
}
