// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';

.welcomeBuffer {
  padding-top: 80px;
}

.welcomeLogo {
  padding: 5px 20px;
  background-color: $primary-color;
  color: white;
  font-size: 50px;
  letter-spacing: 0.1em;
  display: inline-block;
}

.loginForm {
  padding: 20px;
}

.landingCatch {
  margin: 100px 0;
  line-height: 1.4;
  font-size: 30px;
}

.loginLinks {
  padding: 20px;
  list-style: none;

  li {
    margin-top: 10px;

    &:first-child { margin-top: 0; }
  }
}
