.itemCell.media
  .media-body
    .message
      #{draft.created_at.to_date}に投稿しました
    %h4.title
      = link_to draft.title, draft_path(draft)
    %ul.tags.clearfix
      - draft.tags.each do |tag|
        %li
          %span.tag= link_to tag.name, tag
